html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  background: url(./images/bg-pattern.svg) hsl(230, 100%, 99%) top left
    no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(227, 35%, 25%);
}

.title {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./images/pattern-circles.svg) center no-repeat;
  background-size: contain;

  h1 {
    margin: 0.3em;
  }

  h3 {
    font-size: 1.1em;
    color: hsl(225, 20%, 60%);
    font-weight: 600;
    margin: 0;
  }
}

.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(133, 143, 173, 0.1);

  .upper {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    color: hsl(225, 20%, 60%);
    font-weight: 800;

    .left {
      text-transform: uppercase;
      letter-spacing: 1.5px;
    }

    .right {
      align-items: center;
      display: flex;

      > span {
        color: hsl(227, 35%, 25%);
        font-size: 2.5em;
        margin-right: 5px;
      }
    }
  }

  .slider {
    width: 550px;
    padding: 0 40px;

    input {
      -webkit-appearance: none;
      height: 8px;
      border-radius: 4px;
      width: 100%;
      background: hsl(224, 65%, 95%);
      outline: none;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: url(images/icon-slider.svg) rgb(16, 213, 194) center
          no-repeat;
        box-shadow: 0px 10px 20px 0px rgba(16, 213, 194, 0.7);
        cursor: pointer;
        position: relative;
      }
    }
  }

  .toggle-container {
    text-align: right;
    color: hsl(225, 20%, 60%);
    font-size: 0.95em;

    padding: 40px;

    .switch {
      position: relative;
      display: inline-block;
      width: 38px;
      height: 20px;
      margin: 0 15px;

      .slide {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: hsl(223, 50%, 87%);
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &:before {
          position: absolute;
          content: "";
          height: 14px;
          width: 14px;
          left: 3px;
          bottom: 3px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }

        &.round {
          border-radius: 34px;
        }

        &.round:before {
          border-radius: 50%;
        }
      }

      input {
        opacity: 0;
        width: 0;
        height: 0;
      }

      input:checked + .slide {
        background-color: #2196f3;
      }

      input:focus + .slide {
        box-shadow: 0 0 1px #2196f3;
      }

      input:checked + .slide:before {
        transform: translateX(18px);
      }
    }

    .discount {
      background-color: hsl(14, 92%, 95%);
      color: hsl(15, 100%, 70%);
      font-size: 0.85em;
      padding: 1px 8px;
      border-radius: 15px;
      margin-left: 6px;
    }
  }

  .bottom {
    padding: 20px 40px 20px 20px;
    border-top: 2px solid rgba(133, 143, 173, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      li {
        color: hsl(225, 20%, 60%);
        margin: 10px 0;
        list-style-image: url(images/icon-check.svg);
        span {
          margin-left: 10px;
        }
      }
    }

    button {
      padding: 0;
      border: none;
      outline: none;
      font: inherit;
      color: inherit;
      background: none;
      background-color: hsl(227, 35%, 25%);
      color: hsl(226, 100%, 87%);
      padding: 15px 50px;
      border-radius: 30px;
    }
  }
}
